# General
*.[oa]
*~
*.pyc

# PyCharm Project Files
.idea/*

# Builds
build/*

# PyCache
*__pycache__*

*.pyc

# egg-info
OPTALG.egg-info/

# distribution files
dist/

# Libraries
*.la
*.so
*.so.*
*.dylib
lib/
*.dll

# Cython C
_dmumps.c
cipopt.c
cclp.c
ccbc.c

# Setup
setup.cfg
